name: timeline_list
description: Displays customizable timeline of widgets
version: 0.0.4
author: Furkan Tektas <tektasfurkan@gmail.com>
homepage: https://github.com/furkantektas/timeline_list


environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
